<phpunit
    bootstrap="./test/bootstrap.php"
    testsuite="all"
    colors="true"
>
    <!--   Где перехватывать вход в тест     $this->testResult = $this->runTest();           -->
    <testsuites>
        <testsuite name="all">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="error">
            <file>./test/ErrorTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <!-- не смотрим на следующие директории -->
        <blacklist>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./test</directory>
        </blacklist>
        <!-- смотрим лишь на следующие директории -->
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".phtml">./src</directory>
                <file>./src/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        ini name="display_errors" value="true"
    </php>
</phpunit>